@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .center {
    @apply flex h-screen justify-center items-center bg-slate-400;
  }
  .h1 {
    @apply text-[34px] leading-[42px] font-bold;
  }
  .main-text {
    @apply font-bold text-center;
  }
  .container {
    @apply bg-brand hover:bg-brand-100 transition-all rounded-full button !important;
  }
  .auth-form {
    @apply flex max-h-[800px] w-full max-w-[580px] flex-col justify-center space-y-6 transition-all lg:h-full lg:space-y-8 !important;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    /* background: #1e2238; */
    background: transparent;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
